.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1rem;
}

.square {
    height: 50px;
    width: 50px;
    border: solid 1px black;
    border-radius: 5px;
}

.square.seleted {
    border-color: red;
}

.wateredPlot {
    background-color: blue;
}

.dryPlot {
    background-color: brown;
}

.withPlant {
    background-color: green;
}

.wildPlot {
    background-color: red;
}

.displayedTimer {
    width: 100%;
    height: 100%;
    z-index: 2;
}

.selectionSquare {
    width: 100%;
    height: 100%;
    z-index: 3;
}

.selectionSquare.isSelected {
    background-color: red;
    opacity: 0.5;
}